/*
 * [Česky]
 * Projekt: Robot Karel
 * Copyright: Viz KOPIROVANI v kořenovém adresáři projektu
 *
 * [English]
 * Project: Karel, the Robot
 * Copyright: See COPYING in the top level directory
 */

/* Barvy a obrázky pro město pro IE 5.5 a 6 */

.zed {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/zed.png",sizingMethod="image",enabled=true);
}

.znacka-1 {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/znacka-1.png",sizingMethod="image",enabled=true);
}

.znacka-2 {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/znacka-2.png",sizingMethod="image",enabled=true);
}

.znacka-3 {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/znacka-3.png",sizingMethod="image",enabled=true);
}

.znacka-4 {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/znacka-4.png",sizingMethod="image",enabled=true);
}

.znacka-5 {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/znacka-5.png",sizingMethod="image",enabled=true);
}

.znacka-6 {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/znacka-6.png",sizingMethod="image",enabled=true);
}

.znacka-7 {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/znacka-7.png",sizingMethod="image",enabled=true);
}

.znacka-8 {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/znacka-8.png",sizingMethod="image",enabled=true);
}

.karel-vychod {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/karel-vychod.png",sizingMethod="image",enabled=true);
}

.karel-sever {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/karel-sever.png",sizingMethod="image",enabled=true);
}

.karel-zapad {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/karel-zapad.png",sizingMethod="image",enabled=true);
}

.karel-jih {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/karel-jih.png",sizingMethod="image",enabled=true);
}

.domov {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/domov.png",sizingMethod="image",enabled=true);
}

.vyber {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/32x32/normalni/vyber.png",sizingMethod="image",enabled=true);
}
