/*
 * [Česky]
 * Projekt: Robot Karel
 * Copyright: Viz KOPIROVANI v kořenovém adresáři projektu
 *
 * [English]
 * Project: Karel, the Robot
 * Copyright: See COPYING in the top level directory
 */

/* Barvy a obrázky pro nástroje pro IE 5.5 a 6 */

#nastroje-karel {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/16x16/prikaz-karel.png",sizingMethod="image",enabled=true);
}

#nastroje-domov {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/16x16/prikaz-domov.png",sizingMethod="image",enabled=true);
}

#nastroje-smaz-vse {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/16x16/prikaz-smaz-vse.png",sizingMethod="image",enabled=true);
}

#nastroje-smaz {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/16x16/normalni/prikaz-smaz.png",sizingMethod="image",enabled=true);
}

#nastroje-zed {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/16x16/prikaz-zed.png",sizingMethod="image",enabled=true);
}

#nastroje-znacka-minus {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/16x16/normalni/prikaz-znacka-minus.png",sizingMethod="image",enabled=true);
}

#nastroje-znacka-plus {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/16x16/normalni/prikaz-znacka-plus.png",sizingMethod="image",enabled=true);
}

#nastroje-nacist {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/16x16/prikaz-nacist.png",sizingMethod="image",enabled=true);
}

#nastroje-ulozit {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/16x16/prikaz-uloz.png",sizingMethod="image",enabled=true);
}

#nastroje-exportovat-k99 {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/16x16/prikaz-export-k99.png",sizingMethod="image",enabled=true);
}
