/*
 * [Česky]
 * Projekt: Robot Karel
 * Copyright: Viz KOPIROVANI v kořenovém adresáři projektu
 *
 * [English]
 * Project: Karel, the Robot
 * Copyright: See COPYING in the top level directory
 */

/* prinuti chovat se kontejner s floatem jak se ceka */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Základní nastavení vývojového prostředí */

html {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11pt;
	cursor: default;
	height: auto;
	margin: 0;
	padding: 0;
	min-width: 680px;
	height: 100%;
}

#stranka {
	z-index: -1;
	margin: 0;
	height: 100%;
}

#stranka #okraj {
	z-index: -1;
	position: absolute;
	width: 0;
	height: 0;
}

#okno1 {
	z-index: -1;
	position: fixed;
	right: 0;
	bottom: 0;
}

#okno2 {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
}

form {
	margin: 0;
	padding: 0;
}

textarea {
	font-family: Courier New, monospace;
	font-weight: normal;
	font-size: 11pt;
	line-height: 120%;
}

.main {
	overflow-y: auto;
	height: 80%; /* fallback pro stare prohlizece */
	height: calc(100% - 0.9em - 2 * 5px - 2 * 1px); /* pro moderni */
	background-color: #b8b8b8;
}

.hlavni-sloupec,
.pravy-sloupec {
	height: 92%; /* fallback pro stare prohlizece */
	height: calc(100% - 2 * 10px - 2 * 1px); /* pro moderni */
}

.hlavni-sloupec {
	/*outline: 5px solid red;*/
}

.pravy-sloupec {
	float: right;
	width: 343px;
}

.pravy-sloupec .centrovany {
	width: 321px;
}

.hlavni-sloupec,
.hlavni-sloupec-posledni {
	width: auto;
	margin-right: 350px;
}

.pravy-sloupec-mesto,
.informace,
.hlavni-sloupec,
.hlavni-sloupec-posledni {
	padding: 10px;
	border: 1px solid;
	border-top-color: rgb(90%, 90%, 90%);
	border-left-color: rgb(90%, 90%, 90%);
	border-right-color: rgb(40%, 40%, 40%);
	border-bottom-color: rgb(40%, 40%, 40%);
	background-color: rgb(75%, 75%, 75%);
}

.informace {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 69%;
}

.informace .levy {
	float: left;
	margin-right: 0.75em;
}

.informace .pravy {
	text-align: right;
}

.informace a.pravy {
	margin-left: 0.75em;
}
