/*
 * [Česky]
 * Projekt: Robot Karel
 * Copyright: Viz KOPIROVANI v kořenovém adresáři projektu
 *
 * [English]
 * Project: Karel, the Robot
 * Copyright: See COPYING in the top level directory
 */

/* Obrázky nástrojových tipů, klasika */

.tip-karel {
	background-image: url("../images/48x48/prikaz-karel.png");
}

.tip-domov {
	background-image: url("../images/48x48/prikaz-domov.png");
}

.tip-smaz-vse {
	background-image: url("../images/48x48/prikaz-smaz-vse.png");
}

.tip-smaz {
	background-image: url("../images/48x48/normalni/prikaz-smaz.png");
}

.tip-zed {
	background-image: url("../images/48x48/prikaz-zed.png");
}

.tip-znacka-minus {
	background-image: url("../images/48x48/normalni/prikaz-znacka-minus.png");
}

.tip-znacka-plus {
	background-image: url("../images/48x48/normalni/prikaz-znacka-plus.png");
}

.tip-nacist {
	background-image: url("../images/48x48/prikaz-nacist.png");
}

.tip-ulozit {
	background-image: url("../images/48x48/prikaz-uloz.png");
}

.tip-exportovat-k99 {
	background-image: url("../images/48x48/prikaz-export-k99.png");
}
